//Variables
//Paleta de Colores
$color-letra: black;
$color-header: #16A085;
$color-footer: #16A085;
$color-menu: #16A085;
$bg-color: #72c5b4;
$hover-menu: white;

//Tamaños Breakpoints
$tablet: 576px;
$ordenador: 992px;

//Tamaños
$width: 100%;
$tamano-img-movil: 75%;

//Posicionamiento
$centrar: center;
$izq: left;
$derech: right;
